@if ((hoveredNode$ | async); as hoveredNode){

<div class="hovered">
  <p>{{ hoveredNode.productName }}</p>
  <p>{{ hoveredNode.vendor }}</p>
</div>
} @if ((selectedNode$ | async); as selectedNode){

<div class="selected">
  <p>Produkt: {{ selectedNode.productName }}</p>
  <p>Producent: {{ selectedNode.vendor }}</p>
  <br />
  <p>
    <i>
      {{
        i18nService.getText("supportedStandards")
          | i18n : (i18nService.chosenLanguage$ | async)
      }}
    </i>
  </p>
  @if((colorMap$ | async); as colorMap){ @for (supportedStandard of
  selectedNode.approvedStandards; track supportedStandard){
  <p>
    <span
      class="blob"
      [style.background]="supportedStandard | colorMap : colorMap"
    ></span>
    {{ supportedStandard.name }} ({{ supportedStandard.version }})
  </p>
  } }
</div>

}
