:host {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  overflow-y: auto;
}

.hovered {
  background-color: rgba($color: rgb(255, 115, 0), $alpha: 0.5);
}

.selected {
  background-color: rgba($color: white, $alpha: 0.75);
}

.hovered,
.selected {
  pointer-events: auto;
  padding: 5px;
}

.standard-line {
  cursor: pointer;
  &:hover {
    background-color: rgba(var(--standard-color), 0.5);
  }

  .blob {
    display: inline-block;
    background-color: rgb(var(--standard-color));
    width: 10px;
    height: 10px;
  }
}
