<div class="hovered">
  <p>{{ (hoveredNode$ | async)?.productName }}</p>
  <p>{{ (hoveredNode$ | async)?.vendor }}</p>
</div>
@if ((selectedNode$ | async); as selectedNode){

<div class="selected">
  <p>Produkt: {{ selectedNode.productName }}</p>
  <p>Producent: {{ selectedNode.vendor }}</p>
  <br />
  <p>
    <i>
      {{
        i18nService.getText("supportedStandards")
          | i18n : (i18nService.chosenLanguage$ | async)
      }}
    </i>
  </p>
  @for (supportedStandard of selectedNode.approvedStandards; track
  supportedStandard){
  <p>{{ supportedStandard.name }} ({{ supportedStandard.version }})</p>
  }
</div>

}
